<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    
    <!--drigmo2.com/publicPost/123456.html? 
        unique post ID page created from AddPost, distributed to every page with Posts on it.-->

    <div class="Header">
        <a href="username URL">User-name's</a> Post!!
        <!-- style this as a button?-->
    </div>

    <div class="caption">
        <!-- put caption here -->

        <!-- put cuisineTag here-->
        <!-- put priceTag here-->
    </div>

    <div class="description">
        <!-- put PostItem.description here -->
    </div>

    <div class="picture container">
        <img src="picture URL" alt="PostItem picture!!">
        <!-- put all PostItem.picture here -->
    </div>

    <!-- button to share post (creates a sharing URL) -->

    <script>

import firebase from "firebase/compat/app";
             // Required for side-effects
             import "firebase/firestore";
             import { initializeApp } from "firebase/app";
             import { getFirestore } from "firebase/firestore";
             import {doc, getDoc} from "firebase/firestore";
             // TODO: Replace the following with your app's Firebase project configuration
             // See: https://support.google.com/firebase/answer/7015592
             // Import the functions you need from the SDKs you need
                     // TODO: Add SDKs for Firebase products that you want to use
                     // https://firebase.google.com/docs/web/setup#available-libraries
     
                     // Your web app's Firebase configuration
                         const firebaseConfig = {
                         apiKey: "AIzaSyBLXqYLxSVAK-4Z91y4q_h7l_mPACP9Y8w",
                         authDomain: "testproject-bea88.firebaseapp.com",
                         projectId: "testproject-bea88",
                         storageBucket: "testproject-bea88.appspot.com",
                         messagingSenderId: "961480646708",
                         appId: "1:961480646708:web:b22d1318985a35abd16a61"
                         };
     
             // Initialize Firebase
             firebase.initializeApp(firebaseConfig);
     
             //access firestore database from firebase
             const app = initializeApp(firebaseConfig);

            const docRef = doc()

             async function readData(){
                 let entry = await db.collection("testColl").get()
                 entry.forEach(
                     (d) => {
                         document.getElementById("").innerHTML = entry;
                     }
                 )

            )
        }
    </script>
    
    
    
</body>
</html>